<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDaJSrlgR15l8bOYkeTSg0uZ2WjMvg9tMM</string>
	<key>GCM_SENDER_ID</key>
	<string>961121190869</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>acc.HT-App</string>
	<key>PROJECT_ID</key>
	<string>htapp-9ce6f</string>
	<key>STORAGE_BUCKET</key>
	<string>htapp-9ce6f.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:961121190869:ios:537732ef86b818bef0335c</string>
</dict>
</plist>